In [1]:
import sys, os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import IPython

sys.path.append("../src/utils")

In [2]:
%load_ext autoreload
%autoreload 1
%aimport datasets
%aimport general
%aimport training

In [3]:
from general import *

In [4]:
tokenized_path = '../data/tokenized-gpt2.pkl'

import pickle
with open(tokenized_path, 'rb') as f:
    tokenized = pickle.load(f)

In [5]:
# variable context size does not make sense (?)
# model predicts 1st token 2nd token ... all positions independently while attending only to prior positions
# therefore the model practices both short and long contexts

ds_train = training.MaskedDataset(tokenized, max_tokens=1024)

eta 12 s

In [6]:
len(ds_train)

8952

In [7]:
ds_train[0:3][0]['labels']

tensor([   79,    25,   220, 50257,   198,    83,  1219,   293,   334,   129,
          122,   497, 50256,   198,    79,    25,   220, 50257,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,    57,    21, 50256,   198,  -100,  -100,  -100,  -100,  -100,
         -100,    79,    25,   220, 50257,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,   893, 50256,
          198,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,   220,
        50257,   198, 50256,   198,    79,    25,   220, 50257,   628, 50256,
          198,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,
           25,   220, 50257,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,    73, 50256,   198,    79,    25,
          220, 50257,   198, 50256,   198,    79,    25,   220, 50257,   198,
        50256,   198,    79,    25,   220, 50257,   198, 50256,   198,    79,
           25,   220, 50257,   198, 50256,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,
         -100,  -100,    79,    25,   220, 50257,   628,   198,   198,   198,
          198,  1925,   359, 40210,   284, 27574,  1338, 35812,  2449, 48590,
         6544,   952,   284, 50256,   198,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,    79,    25,   220, 50257,   198,    45,
         1453,    68,   198,    47,   129,   247,  3762, 32790,   466,   350,
        11392,    88,    30, 50256,   198,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,
           25,   220, 50258, 43074,    97, 37929, 50256,   198,  -100,  -100,
         -100,  -100,  -100,  -100,    79,    25,   220, 50257,   198, 10434,
          276,   257,   869,   326, 15436,  1367,  2431,    13, 50256,   198,
           79,    25,   220, 50257,   198,    89,   615,   349,  6557,    76,
         1976, 37302,    84,   299,   128,   249,    73,   461,   497,    69,
         2150,    84, 18015, 12314,  4686,    74, 50256,   198,    79,    25,
          220, 50257,   198,    89,   615,   349,  6557,    76,   279,   129,
          247,   274, 31228, 50256,   198,    79,    25,   220, 50257,   198,
           44,   680,    78,   198,    53,    88,  6513,   129,    98, 21504,
        38836,   458,    82,   198, 40932,   410,  2376,   129,   122,  6988,
           72,   410,   276,   293,  1281, 11129, 12385, 16667,   778, 15418,
           84, 50256,   198,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
           79,    25,   220, 50257,   198,    43,   349,   198, 25492,   497,
         8457,    72,   337, 19388, 50256,   198,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,    79,    25,   220,   198,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
           79,    25,   220, 50258, 43074,    97, 37929,   198, 50257,   198,
         2777,   349,    84, 11223, 32790,    83,   128,   249,   410,    88,
          129,   247,    68, 32790,  8836,  1326, 12777,   340,  6557,    75,
         4178,   198,    76,   128,   249,   573,   128,   237,   745,    89,
         2100,   474, 31829,  1534,   274,   273, 12385,   284,    71,   293,
          198,   198,    19,    13, 11223, 16723,   128,   249,    75,  8836,
          198,  1219,  5089,   198,    77, 14761,   256,   461,   284, 12385,
         3478,  8156, 12938,   497,    73, 15532, 50256,   198,    79,    25,
          220, 50257,   198,    73, 43616,   616, 26738,    75, 25370,   122,
           68,   284, 11223,  6184,   118,   353,   127,   121,   198,   129,
          122,    68,   416,   354,   384, 21885,   285, 48988,   288,   455,
          265,   279,   129,   247,   274,   299,   420,   198,    73, 25496,
         1976, 16723,   128,   249,    75,  8836,  1569, 46195,   263, 12385,
         6184,   118,   353,   127,   121,   374,  6557,  3919,   198,  3448,
        32790,  5439, 21504,   284,   277,  1228,    77,    11, 25370,   122,
           68,   416, 21504,   284,   289,  6335, 10102,   555,    72,  2124,
           35, 50256,   198,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,    79,    25,   220,   198,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,
          220, 50257,   198,  1676,   301,   128,   249,  9552,    12,  5363,
        47594,   344,   604,  7874,    20,    13,   275,   129,   247,  8471,
         2616,   410,   299,   128,   249,  1326,   694,    84, 50256,   198,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,
          220, 50258, 12520,   240,   222, 50256,   198,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,
          220,   198,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,   220,
        50257,   198, 20471,   284, 11223,   474, 25496,   129,   122,    68,
          264,   448,   128,   249,   129,   122,   198,    83,   321,   474,
        13396,   362,   288,  3281,   410,   479,  1904, 50256,   198,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,   220,
        50257,   198,    76, 19388,   299,   268,  8836,  2401,    64, 50256,
          198,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,
           25,   220, 50257,   198,    82,   324,   469, 50256,   198,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,    79,    25,   220,   198,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,    79,    25,
          220, 50257,   198, 41098,   285,   129,   107,   129,   122,   368,
          334,   129,   122,   285,  6557,    76,  3024,   709,   280, 25370,
           94,    74,   349,    84,   410,  8836,   344,    76, 35942,   128,
          249,   198,    83,   461,   279,   461, 50256,   198,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,    79,    25,   220,   198,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,    79,    25,   220, 50257,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,
         -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  -100,  3720,
        50256,   198])

In [18]:
for i in ds_train[0:5]:
    for k, v in i.items():
        print(k, type(v), v.shape)
    print()

input_ids <class 'numpy.ndarray'> (962,)
attention_mask <class 'numpy.ndarray'> (962,)
labels <class 'numpy.ndarray'> (962,)

input_ids <class 'numpy.ndarray'> (1024,)
attention_mask <class 'numpy.ndarray'> (1024,)
labels <class 'numpy.ndarray'> (1024,)

input_ids <class 'numpy.ndarray'> (1024,)
attention_mask <class 'numpy.ndarray'> (1024,)
labels <class 'numpy.ndarray'> (1024,)

input_ids <class 'numpy.ndarray'> (1024,)
attention_mask <class 'numpy.ndarray'> (1024,)
labels <class 'numpy.ndarray'> (1024,)

input_ids <class 'numpy.ndarray'> (1024,)
attention_mask <class 'numpy.ndarray'> (1024,)
labels <class 'numpy.ndarray'> (1024,)

In [23]:
from transformers import DataCollatorWithPadding, DataCollatorForLanguageModeling, TrainingArguments, Trainer

eos_token_id = 50256
coll = training.DataCollator(pad_token_id=eos_token_id)

coll(ds_train[0:3])

{'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 1, 1, 1],
         [1, 1, 1,  ..., 1, 1, 1]]),
 'input_ids': tensor([[   79,    25,   220,  ..., 50256, 50256, 50256],
         [29615,    25, 23748,  ...,   375,    84, 32790],
         [   68, 14561,   709,  ...,   497,    73,    85]]),
 'labels': tensor([[  79,   25,  220,  ..., -100, -100, -100],
         [-100, -100, -100,  ..., -100, -100, -100],
         [-100, -100, -100,  ..., -100, -100, -100]])}